<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:locale" content="ko_KR")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="카카오페이 송금 - Drop the money")
    meta(property="og:title" content="카카오페이 송금 - Drop the money")
    meta(property="og:image" content="https://t1.daumcdn.net/kakaopay/homepage/og/kakaopay_og_20190524.png")
    meta(property="og:description" content="카카오페이 송금 프로모션 SHOW ME THE MONEY")
    link(rel="stylesheet", href="css/style.css")
    title 카카오페이 송금 - Drop the money
  body
    block content

    script(src="js/main.js")