@import "_common";
@import "_variables";

body {
  position: relative;
  background-color: $bgColor;

  * {
    text-align: center;
    background: none;
    margin: 0 auto;
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

#Wrap {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  font-size: 0; // inline-block 공백 처리

  #WrapContainer {
    position: relative;
  }
}

.bg {
  position: relative;

  .bg-fixed {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg-showme-all.jpg") no-repeat top center;
    background-size: 100% auto;
    // transform: translateY(0);
  }

  &-attach {
    .bg-fixed {
      content: "";
      position: fixed;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
    }
  }

  &.off {
    animation: off 0.5s;
    opacity: 0;
  }
}

.temp-img {
  opacity: 0;
}

// COMPONENT
// 이미지 요소를 담는 그릇
.stuff {
  position: relative; // 요소 별 배치를 돕기 위해
  font-size: 0; // inline-block 공백 처리

  &-inner {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  // 컨텐츠 bg holder
  .list-item {
    position: relative;
    display: inline-block; // 실제 대상을 fit하게 잡아주기 위해
    *display: inline;
    *zoom: 1;
  }

  // 배치 아이템
  .item {
    position: absolute;
  }
}

// CONTENT
.coin {
  position: absolute;
  z-index: 2;
}

#CoinWrap-01 {
  position: fixed;
  width: 100%;
  max-width: 750px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 3;

  .coin-01 {
    width: 90%;
    left: 11%;
    bottom: -16%;
  }

  .coin-02 {
    width: 29%;
    left: 50%;
    top: 39%;
    transform: rotate(-15deg);
    z-index: 1;
  }

  .coin-03 {
    width: 16%;
    left: 30%;
    top: 26%;
  }

  .coin-04 {
    width: 10%;
    left: 30%;
    top: 34%;
    z-index: 1;
  }

  .coin-05 {
    right: -55%;
    top: -30%;
    max-width: 128%;
    transform: rotate(-27deg);
  }

  .coin-06 {
    width: 30%;
    left: 15%;
    top: -39%;
    transform: rotate(15deg);
  }

  .coin-07 {
    width: 18%;
    left: 44%;
    top: -50%;
    transform: rotate(-15deg);
  }

  &.active {
    transform: translate(-50%, 300%);
    animation: coin-wrap-01 1.3s;
  }
}

#CoinWrap-02 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  .coin {
    transform: translateY(-1000%);
  }

  .coin-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .coin-01 {
    top: -60%;
    left: 0;
    width: 13.2%;
  }

  .coin-02 {
    width: 16%;
    top: -14.5%;
    right: 0;
  }

  .coin-03 {
    top: 10.7%;
    left: 17%;
    width: 11%;
  }

  .coin-04 {
    width: 9%;
    right: 9%;
    top: 7.2%;
    z-index: 1;
  }

  .coin-05 {
    top: 42%;
    left: 0;
    width: 6%;
  }

  .coin-06 {
    width: 16%;
    right: 0;
    top: 49.4%;
  }

  &.active {
    .coin {
      animation: coin-wrap-02 0.8s;
      transform: translateY(0);
    }
  }
}

// TOP BAR
.top-bar {
  .bg-bar {
    top: 0;
    left: 0;
  }

  .kakaopay-logo {
    top: 33%;
    left: 3.2%;
    width: 14.6%;
  }

  .top-bar-text {
    left: 0;
    right: 0;
    top: 33%;
    width: 23.4%;
  }

  .showme-logo {
    top: 0;
    right: 0;
    width: 29.8%;
  }
}

// NEON TITLE
.neon-title {
  position: relative;
  margin-top: 8%;

  .text-01 {
    position: relative;
    width: 57.2%;
    margin-bottom: -21%;
    animation: neon 1s infinite alternate;

    &.active {
      &:before {
        background-size: auto 100%;
        animation: spark1 0.5s;
      }

      &:after {
        background-size: auto 100%;
        animation: spark2 0.5s;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      bottom: 58%;
      left: -11%;
      width: 38%;
      height: 77%;
      background: url(../img/bg-fire-spark-01.png) no-repeat right bottom/0 0;
    }

    &:after {
      bottom: 69%;
      left: 11%;
      width: 16%;
      height: 86%;
      background: url(../img/bg-fire-spark-02.png) no-repeat center bottom/0 0;
    }
  }

  .text-02 {
    position: relative;
    width: 84.8%;
    margin-bottom: -12%;

    img {
      animation: neon 1s infinite alternate;
    }

    &:after {
      content: "";
      position: absolute;
      top: 37%;
      left: 31.5%;
      width: 17%;
      height: 37%;
      background: url("../img/bg-neon-money-o.png") no-repeat center/100%;
      animation: neon-o 4s infinite;
      -moz-animation-delay: 4s;
      -webkit-animation-delay: 4s;
      -o-animation-delay: 4s;
      animation-delay: 4s;
    }
  }
}

.title-sub {
  .sub-text {
    width: 61.4%;
  }
}

// 총상금
.prize-money {
  position: relative;
  margin-bottom: 10.3%;

  .g-money {
    width: 82%;
    margin-left: 11%;
    animation: upDown 0.5s infinite;
  }

  .money-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7%;
    width: 35%;
    z-index: 10;

    img {
      animation: pitapat 0.5s infinite;
    }

    strong {
      &:before {
        content: "";
        position: absolute;
        bottom: 3%;
        left: -35%;
        width: 37%;
        height: 63%;
        background: url("../img/bg-gun-finger-left.png") no-repeat center/100%;
        animation: shake-01 0.5s infinite;
        transform-origin: bottom left;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 29%;
        right: -38%;
        width: 40%;
        height: 67%;
        background: url("../img/bg-gun-finger-right.png") no-repeat center/100%;
        animation: shake-02 0.5s infinite;
        transform-origin: bottom right;
      }
    }
  }
}

// LOTTERY
.lottery {
  position: relative;
  width: 73.8%;
  margin-bottom: 12%;
  border: 1px solid $primaryColor;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;

  &:before {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    width: 39%;
    height: 22%;
    background: url(../img/bg-lottery-info-date.png) no-repeat center/100%;
    transform: translate(-50%, 0);
  }

  .lottery-tit {
    width: 69%;
    margin-top: 9%;
    padding: 0 11% 3.5%;
    border-bottom: 1px solid $primaryColor;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 4.7% 11.5% 5.7%;

    > li {
      width: 25%;

      dl {
        dt {
          width: 83%;
        }

        dd {
          margin-top: 10%;
          width: 83%;
        }
      }
    }
  }
}

// SNS SHARE
.sns-share {
  &.active {
    .stuff-inner {
      background-size: 0, 100%;

      &:before {
        background-size: 0, 100%;
      }
    }
  }

  &.animate {
    .stuff-inner {
      animation: snsshare 0.5s;

      &:before {
        animation: snsshare 0.5s;
      }
    }
  }

  .stuff-inner {
    width: 93%;
    background: url(../img/bg-sns-share-box-off.png) no-repeat center/100%,
      url(../img/bg-sns-share-box.png) no-repeat center/0;

    &:before {
      content: "";
      position: absolute;
      top: -23%;
      left: 50%;
      width: 56%;
      height: 62%;
      margin-left: 0.5%;
      background: url(../img/bg-sns-share-title-off.png) no-repeat center/100%,
        url(../img/bg-sns-share-title.png) no-repeat center/0;
      transform: translate(-50%, 0);
    }

    .share-box {
      position: absolute;
      top: 11%;
      left: 0;
      width: 100%;
      height: 78%;

      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 9%;
        height: 100%;

        > li {
          width: 25%;
          height: 100%;
          overflow: hidden;

          &.sns-facebook {
            .sns-link {
              margin-left: -3%;
            }
          }

          a,
          button {
            display: block;
            width: 100%;
            height: 100%;

            img {
              max-width: 93%;
            }
          }
        }
      }
    }
  }
}

// 참여하기
.btn-request {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  z-index: 10;
}

// 송금하기 레이어
.layer-02 {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  &.active {
    opacity: 1;
    width: 100%;
    height: 100vh;
    z-index: 10;

    .stuff.door {
      &-top {
        top: 0;
        background: url("../img/bg-gold-top.jpg") no-repeat center/100% 100%;
        animation: topClose 0.5s;
      }

      &-bottom {
        bottom: 0;
        background: url("../img/bg-gold-bottom.jpg") no-repeat center/100% 100%;
        animation: bottomClose 0.5s;
      }
    }

    .btn-remit {
      opacity: 1;
      animation: showUp 0.5s;
      transform: translateY(0);
    }

    &.close {
      .stuff.door {
        &-top {
          transform: translateY(-100%);
          animation: topOpen 0.3s;
        }

        &-bottom {
          transform: translateY(100%);
          animation: bottomOpen 0.3s;
        }
      }

      .btn-remit {
        opacity: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        cursor: pointer;
        z-index: 10;
        transform: translateY(200%);
      }
    }
  }

  .btn-remit {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    transform: translateY(200%);
  }

  .stuff.door {
    position: fixed;
    width: 100%;
    height: 50%;
    z-index: 2;

    &-top {
      top: -100%;
      bottom: auto;
      animation: topOpen 0.5s;

      .btn-close {
        top: 6%;
        right: 6%;
        width: 8%;
      }

      .chain {
        left: 5%;
        top: -15%;
        width: 19%;
      }

      .dollar {
        top: 43%;
        width: 26%;
        transform: translate(-50%, -50%);
        left: 50%;
      }

      .remit-title {
        bottom: 8.5%;
        width: 72%;
        left: 14%;

        &:before {
          content: "";
          position: absolute;
          top: -134%;
          left: 31%;
          width: 38%;
          height: 113%;
          background: url("../img/bg-dollar.png") no-repeat center/100%;
        }
      }
    }

    &-bottom {
      top: auto;
      bottom: -100%;
      animation: bottomOpen 0.5s;

      .stuff-inner {
        width: 100%;
        height: 100%;

        .remit-box {
          padding: 6% 11%;
          height: 100%;

          .remit-box-01 {
            position: relative;
            width: 100%;
            background: url("../img/bg-remit-coupon-box.png") no-repeat
              center/100% 100%;
            text-align: left;

            .label-coupon {
              display: inline-block;
              width: 53%;
            }

            .btn-coupon {
              top: 23%;
              right: 3%;
              width: 19%;
            }
          }

          .remit-box-02 {
            position: relative;
            width: 100%;
            margin-top: 3%;
            background: url(../img/bg-remit-info-box.png) no-repeat center/100%
              100%;

            .stuff.remit-info-03 {
              .item {
                top: 7%;
                right: 9.5%;
                width: 26.5%;
              }
            }
          }
        }
      }
    }
  }
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes neon {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes neon-o {
  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.7;
  }
  6% {
    opacity: 1;
  }

  8% {
    opacity: 0.7;
  }
  10% {
    opacity: 1;
  }
}

@keyframes pitapat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes shake-01 {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes shake-02 {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1%);
  }
}

@keyframes coin-wrap-01 {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 400%);
  }
}

@keyframes coin-wrap-02 {
  0% {
    opacity: 0;
    transform: translateY(-1000%);
  }

  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes turn-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes turn-on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes snsshare {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 1;
  }
}

@keyframes topClose {
  0% {
    transform: translateY(-100%);
  }

  15% {
    transform: translateY(-5%);
  }

  35% {
    transform: translateY(-15%);
  }

  45% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-10%);
  }

  75% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes bottomClose {
  0% {
    transform: translateY(100%);
  }

  15% {
    transform: translateY(5%);
  }

  35% {
    transform: translateY(15%);
  }

  45% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(10%);
  }

  75% {
    transform: translateY(0%);
  }

  85% {
    transform: translateY(1%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes topOpen {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes bottomOpen {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes showUp {
  0% {
    transform: translateY(200%);
  }

  40% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes spark1 {
  from {
    background-size: auto 0;
  }

  to {
    background-size: auto 100%;
  }
}

@keyframes spark2 {
  0% {
    background-size: auto 0;
  }

  10% {
    background-size: auto 0;
  }

  100% {
    background-size: auto 100%;
  }
}

@keyframes bgWrap {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes bgWrap2 {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

// neon
@keyframes glow {
  from {
    -ms-filter: drop-shadow(0 0 7px rgba(255, 180, 0, 0.5));
    -webkit-filter: drop-shadow(0 0 7px rgba(255, 180, 0, 0.5));
    filter: drop-shadow(0 0 7px rgba(255, 180, 0, 0.5));
    opacity: 0.7;
  }
  to {
    -ms-filter: drop-shadow(0 0 7px rgba(255, 180, 0, 0.5));
    -webkit-filter: drop-shadow(0 0 7px rgba(255, 180, 0, 0.5));
    filter: drop-shadow(0 0 7px rgba(255, 180, 0, 1));
    opacity: 1;
  }
}
